header > picture > img {
	width: 100%;
	height: 250px;
	object-position: center;
	object-fit: none;
}

#portfolio {
	margin-bottom: 20px;
}

.center-column {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.project > img {
	width: 100%;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
	border-radius: 2px;
}
.project > img:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
