<header style="height: 200px;">
  
</header>

<main>

  <form action="#" style="width: 50%; margin: 0 auto;">
	<!-- Remetente -->
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="name">
      <label class="mdl-textfield__label" for="name">Nome</label>
	</div>
	<!-- /Remetente -->

	<!-- Telefone -->
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="tel" id="phone">
      <label class="mdl-textfield__label" for="phone">Telefone</label>
	</div>
	<!-- /Telefone -->

	<!-- E-Mail -->
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="email" id="email">
      <label class="mdl-textfield__label" for="email">E-mail</label>
	</div>
	<!-- /E-Mail -->

	<!-- Texto -->
	<div class="mdl-textfield mdl-js-textfield">
      <textarea class="mdl-textfield__input" type="text" rows= "5" id="message" ></textarea>
      <label class="mdl-textfield__label" for="message">Mensagem...</label>
	</div>
	<!-- /Texto -->

	<!-- Botões -->
	<div>
	  <button class="mdl-button mdl-js-button" style="float: left; margin-right: 15px;">
		Limpar
	  </button>
	  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
		Enviar
	  </button>
	</div>
	<!-- /Botões -->
  </form>
  
</main>
