<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">{{title}}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only"
	   *ngFor="let current of menu">
        <a class="mdl-navigation__link" href="{{current.slug}}">{{current.tag}}</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{title}}</span>
    <nav class="mdl-navigation"
	 *ngFor="let current of menu">
      <a class="mdl-navigation__link" href="{{current.slug}}">
	<i class="material-icons">{{current.icon}}</i>{{current.tag}}
      </a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">

      <router-outlet></router-outlet>

      <!-- Footer -->
      <footer class="mdl-mini-footer">
	<div class="mdl-mini-footer__left-section">
	  <div class="mdl-logo">{{title}}</div>
	  <ul class="mdl-mini-footer__link-list">
	    <li *ngFor="let current of menu">
	      <a href="{{current.url}}">{{current.tag}}</a>
	    </li>
	  </ul>
	</div>
      </footer>
      <!-- /Footer -->

    </div>
  </main>
</div>
