/* You can add global styles to this file, and also import other style files */

h3 {
	text-align: center;
	border-bottom: thin solid #c9c9c9;
	color: #6b6b6b;
	padding-bottom: 5px;
	margind-bottom: 20px;
	text-transform: uppercase;
}
